<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-webmvc/4.2.5.RELEASE/spring-webmvc-4.2.5.RELEASE-sources.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>